---
import Address from "@components/Address.astro";
import EducationItem from "@components/EducationItem.astro";
import ResumeSection from "@components/ResumeSection.astro";
import WorkExperienceItem from "@components/WorkExperienceItem.astro";
import { i18n } from "@i18n/runtime";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollectionByLocale, getEntryDataByLocale } from "@utils/data";
import { sortEducation, sortExperience } from "@utils/sorters.ts";

export function getStaticPaths() {
  return i18n.codes.map((locale) => ({
    params: {
      locale: locale === i18n.defaultLocale ? undefined : locale,
    },
  }));
}

const [meta, ui, resume, experienceRaw, educationRaw] = await Promise.all([
  getEntryDataByLocale("meta", Astro.currentLocale),
  getEntryDataByLocale("ui", Astro.currentLocale),
  getEntryDataByLocale("resume", Astro.currentLocale),
  getCollectionByLocale("experience", Astro.currentLocale),
  getCollectionByLocale("education", Astro.currentLocale),
]);

const experience = sortExperience(experienceRaw);
const education = sortEducation(educationRaw);
---

<BaseLayout
  title={meta.page.resume.title}
  description={meta.page.resume.description}
  meta={meta}
  ui={ui}
>
  <h1>{resume.name}</h1>
  <p>{resume.about}</p>
  <p>
    <a href={resume.location.href} aria-label={resume.location.ariaLabel}>
      {resume.location.text}
    </a>
  </p>

  <Address contacts={resume.contacts} />

  <ResumeSection title={ui.section.about} id="about">
    <p>{resume.summary}</p>
  </ResumeSection>

  <ResumeSection title={ui.section.xp} id="work-experience">
    {experience.map((xp) => (
      <WorkExperienceItem xp={xp} presentLabel={ui.date.present}/>
    ))}
  </ResumeSection>

  <ResumeSection title={ui.section.education} id="education">
    {education.map((edu) => (
      <EducationItem education={edu} presentLabel={ui.date.present}/>
    ))}
  </ResumeSection>
</BaseLayout>
