---
import BaseLayout from "@layouts/BaseLayout.astro";
import Address from "@components/Address.astro";
import WorkExperienceList from "@components/WorkExperienceList.astro";
import { getCollection, getEntry } from "astro:content";
import EducationList from "@components/EducationList.astro";
import ResumeSection from "@components/ResumeSection.astro";

const profile = await getEntry("profile", "profile");

if (!profile) {
  throw new Error("Could not find basic profile information");
}
const contacts = await getCollection("contacts");
const experience = (await getCollection("experience")).sort((a, b) => {
  const aEnd = a.data.end ? a.data.end.valueOf() : Number.POSITIVE_INFINITY;
  const bEnd = b.data.end ? b.data.end.valueOf() : Number.POSITIVE_INFINITY;

  if (bEnd !== aEnd) return bEnd - aEnd;
  return b.data.start.valueOf() - a.data.start.valueOf();
});
const education = (await getCollection("education")).sort(
  (a, b) => b.data.end.valueOf() - a.data.end.valueOf(),
);
---

<BaseLayout pageTitle={profile.data.name}>
  <h1>{profile.data.name}</h1>
  <p>{profile.data.about}</p>
  <p>{profile.data.location.text}</p>
  <Address contacts={contacts} />
  <ResumeSection title="About" id="about">
    <p>
      {profile.data.summary}
    </p>
  </ResumeSection>
  <ResumeSection title="Work Experience" id="work-experience">
    <WorkExperienceList experience={experience} />
  </ResumeSection>
  <ResumeSection title="Education" id="education">
    <EducationList education={education} />
  </ResumeSection>
</BaseLayout>
