---
import type { CollectionEntry } from "astro:content";

interface Props {
  contacts: CollectionEntry<"resume">["data"]["contacts"];
}

const { contacts } = Astro.props;
---

<address>
  <ul role="list">
    {contacts.map((contact) => {
      const descId = `${contact.id}-desc`
      return (
        <li>
          <a href={contact.href} aria-describedby={descId} aria-label={contact.ariaLabel}>
            {contact.label}
          </a>
          <span id={descId} role="tooltip">
              {contact.ariaDescribedBy}
            </span>
        </li>
      )})}
  </ul>
</address>
