---
import type { CollectionEntry } from "astro:content";
import Head from "@components/Head.astro";
import LanguagePicker from "@components/LanguagePicker.astro";
import Navigation from "@components/Navigation.astro";
import { i18nConfig } from "@i18n/config";

interface Props {
  title: string;
  description: string;
  image?: string | undefined;
  meta: CollectionEntry<"meta">["data"];
  ui: CollectionEntry<"ui">["data"];
}

const { title, description, image, meta, ui } = Astro.props;
const currentLocale = i18nConfig.normalizeLocale(Astro.currentLocale);
---

<html lang={currentLocale}>
  <Head
    title={title}
    description={description}
    image={image}
    meta={meta}
    locale={currentLocale}
  />
  <body>
    <header>
      <a href="#main">{ui.a11y.skipToMain}</a>
      <Navigation nav={ui.nav} />
      <LanguagePicker />
    </header>
    <main id="main" tabindex="-1">
      <slot />
    </main>
  </body>
</html>
